version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: jpa-java-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: boutique_thes
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
